$font-primary: 'Jost', sans-serif;
$font-secondary: 'Cormorant Garamond', serif;
/* --------------------------------- z-index -------------------------------- */
$-index_lv : -1;
$index_lv : 0;
$index_lv-1 : 1;
$index_lv-2 : 2;
$index_lv-3 : 3;
$index_lv-4 : 4;
$index_lv-5 : 999;
$index_lv-max : 9999;
/* ---------------------------------- color --------------------------------- */
$color-primary: #fff;
$color-primary-2: #f0f0f0;
$color-primary-3: #fdf3ea;
$color-warning: #cb9274;
$color-warning-2: #f5dfcd;
$color-warning-3: #996c43;
$color-dark: #333333;
$color-black: #000;
$color-black2: #e2e2e2;
$color-gray: #6e6e6e;;
$color-yellow: #ffc306;
$color-product-blue-dark: #4b6977;
$color-product-gray: #cccccc;
$color-product-gray-dark: #424242;
$color-product-gray-light: #f6f6f6;
$color-product-brown-light: #83766d;
$color-product-brown: #a97756;
$color-product-green-dark: #4f5332;
$color-danger: #cb0006;
